$base-color: #ca3e47;
$darker-color: rgb(147,40,47, 0.2);

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
            font-family: 'Karla', sans-serif;
            
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
p{
    a{
        display: inline-block;
        font-style: italic;
        border-bottom: 1px solid $base-color;
        line-height: 0.9;
        transition: background-color 0.1s cubic-bezier(.33,.66,.66,1);
    }
    a:hover{
        background-color: $darker-color;
        border-bottom: none;
    }
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #f1f1f1;
    .content{
        order: 1;
        width: 55%;
    }

}


footer{
    text-align: center;
    font-size: .85rem;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #f1f1f1;
    a{
        text-decoration: none;
        color: #ca3e47;
        
    }
}